.animated{
  /*title animations*/
  &--title{
    transition: 1s;
    background-size: 0;

    &[data-scroll="in"]{
      background-size: 100%;
    }
  }
  /*list animations*/
  &--list{
    li{
      transform: translateX(-100px) translateY(-30px);
      opacity: 0;
      transition: .5s;
    }
    &[data-scroll="in"]{
      li{
        transform: translateX(0) translateY(0);
        opacity: 1;
        &:nth-child(1){
          transition-delay: 0;
        }
        &:nth-child(2){
          transition-delay: .3s;
        }
        &:nth-child(3){
          transition-delay: .6s;
        }
        &:nth-child(4){
          transition-delay: .9s;
        }
        &:nth-child(5){
          transition-delay: 1.2s;
        }
        &:nth-child(6){
          transition-delay: 1.5s;
        }
      }
    }
  }
  /*text animations*/
  &--text{
    opacity: 0;
    transition: .5s;
    transform: translateX(-30vw);
    &[data-scroll="in"]{
      opacity: 1;
      transform: translateX(0);
    }
  }

  /*steps animations*/
  &--step{
    .step__item{
      transform: translateX(-2rem) translateY(-3rem);
      opacity: 0;
      transition: .3s;
    }
    &[data-scroll="in"]{
      .step__item{
        transform: translateX(0) translateY(0);
        opacity: 1;
        &:nth-child(1){
          transition-delay: 0;
        }
        &:nth-child(2){
          transition-delay: .2s;
        }
        &:nth-child(3){
          transition-delay: .4s;
        }
        &:nth-child(4){
          transition-delay: .6s;
        }
        &:nth-child(5){
          transition-delay: .8s;
        }
        &:nth-child(6){
          transition-delay: 1s;
        }
      }
    }
  }
}

@keyframes moveArrow{
  0%{right: 30%;}
  50%{right: 32%;}
  100%{right: 30%;}
}