/*COLORS*/
$principal-color: hsl(243, 18%, 21%);
$secondary-color: hsl(260,58%,51%);
$tertiary-color: hsl(187,79%,66%);
$forty-color: hsl(50, 96%, 61%);

$text-color: hsl(0,0%, 35%);

$fifty-color: hsl(334,100%,50%);

$white-color: hsl(0,0%,100%);
$grey-light-color: hsl(0,0%,94%);
$black-color: hsl(0,0%,0%);
/*TYPOGRAPHY*/


// $principal-font: 'Montserrat Alternates', sans-serif;
$title-font: 'Merriweather Sans', sans-serif;
$subtitle-font: 'Prompt', sans-serif;

$principal-font: 'Kanit', sans-serif;
// $title-font: 'Archivo Narrow', sans-serif;
// $subtitle-font: 'Vollkorn', serif;