/*COLORS*/
$principal-color: hsl(244,18%,21%);
$secondary-color: hsl(146,61%,70%);
$tertiary-color: hsl(187,79%,66%);
$forty-color: hsl(50,96%,61%);

$text-color: hsl(0,0%, 35%);

$fifty-color: hsl(334,100%,50%);

$white-color: hsl(0,0%,100%);
$grey-light-color: hsl(0,0%,94%);
$black-color: hsl(0,0%,0%);
/*TYPOGRAPHY*/

$principal-font: 'Lato', sans-serif;
$title-font: 'Poppins', sans-serif;