.banner{
  background: hsl(244,18%,21%);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  @include respond-above(sm){
    padding: 5rem 0;
  }
  &__title{
    font-size: 1.7rem;
    color: $white-color;
    margin-bottom: 1rem;
    @include respond-above(sm){
      font-size: 3rem;
    }
  }
  &__link{
    text-decoration: none;
    color: $black-color;
    font-size: .9rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background: $tertiary-color;
    border: 2px solid $white-color;
    border-radius: 5px;
    box-shadow: 0px 0px 20px -12px rgba(89,89,89,1);
    transition: .5s all;
    &:hover{
      background: $forty-color;
    }
    @include respond-above(sm){
      font-size: 1rem;
    }
    
  }
  &__paragraph{
    color: $white-color;
    margin-bottom: 1rem;
    text-align: center;
  }
  &--half{
    background: hsl(244,18%,21%);
    margin: auto;
    padding: 2rem;
    .banner__link{
      background: $fifty-color;
      color: $white-color;
      font-weight: 700;
      &:hover{
        background: $forty-color;
      }
    }
  }
}