.step{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 3rem;

  &__item{
    display: flex;
    flex-direction: column;
    padding: .3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -12px rgba(89,89,89,1);
    background: $white-color;
  }
  &__figure{
    position: relative;
    img{
      max-width: 100%;
      border-radius: 10px;
    }
  }
  &__number{
    position: absolute;
    bottom: -1.5rem;
    right: .5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background: $secondary-color;
    border-radius: 50%;
    color: $white-color;
    border: 2px solid $white-color;
    box-shadow: 0px 0px 20px -12px rgba(89,89,89,1);
  }
  &__text{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 1rem;    
  }
  &__paragraph{
    margin-top: .5rem;
    font-size: 1rem;
    @include respond-above(md){
      font-size: 1rem;
    }
  }
}