.grid{
  &--2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }
}
.como-funciona{
  background-image: url(../images/como-funciona.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}