.hero{
  // height: 100vh;
  overflow: hidden;
  // padding: 1.5rem 1.5rem;
  position: relative;
  @include respond-above(sm){
    // padding: 2rem 3rem;
  }
  @include respond-above(md){
    padding: 2rem 3rem;
  }
  @include respond-above(lg){
    height: 100vh;
  }
  &:before{
    content: '';
    position: absolute;
    width:100vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    top: 0;
    right: 0;
    background: url(../images/hero-bg.svg);
    z-index: -1;
    @include respond-above(sm){
      width:70vw;
    }
    
  }

  &__grid{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    height: 100%;
    @include respond-above(sm){
      grid-row-gap: 0;
    }
    @include respond-above(lg){
      grid-template-columns: 1fr 1fr;
    }
    
  }
  &__container{
    padding: 1.5rem 1.5rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
    @include respond-above(sm){
      padding: 0 3rem;
      margin-top: 10vw;
    }
    @include respond-above(md){
      padding: 0;
      margin-top: 15vw;
      max-width: 80%;
    }
    @include respond-above(lg){
      margin: auto;
      text-align: left;
      max-width: 100%;
  }
}
  &__heading-1{
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: $title-font;
    @include respond-above(sm){
      font-size: 2rem;
      letter-spacing: 5px;
    }
    @include respond-above(md){
      font-size: 2.5rem;
    }
    @include respond-above(lg){
      font-size: 1.8rem;
    }
    
  }
  &__span{
    font-weight: 700;
    font-size: 1.6rem;
    color: $secondary-color;
    letter-spacing: .5px;
    display: block;
    @include respond-above(sm){
      font-size: 2.7rem;
    }
    @include respond-above(md){
      font-size: 3rem;
    }
    @include respond-above(lg){
      font-size: 2.2rem;
    }
    @include respond-above(xl){
      font-size: 2.5rem;
    }
    @include respond-above(xxl){
      font-size: 3rem;
    }
  }
  &__heading-2{
    font-size: 2.2rem;
    margin-bottom: .5rem;
    @include respond-above(md){
      font-size: 3rem;
    }
    @include respond-above(lg){
      font-size: 2.5rem;
    }
  }
  &__paragraph{
    margin-top: 1rem;
    font-size: 1.5rem;    
    letter-spacing: 1px;
    color: rgba($text-color,.7);
    @include respond-above(sm){
    }
    @include respond-above(md){
      font-size: 1.8rem;
    }
    @include respond-above(lg){
      padding-right: 5rem;
      font-size: 1.3rem;

    }
  }
  &__illustration{
    margin-top: 1rem;
    @include respond-above(sm){
      margin-top: 3rem;
    }
    @include respond-above(lg){
      margin-top: 0;
    }
    img{
      max-width: 70vw;
      margin: auto;
      display: block;
      @include respond-above(sm){
        max-width: 60vw;
      }
      @include respond-above(md){
        max-width: 50vw;
      }
      @include respond-above(lg){
        max-width: 35vw;
      }
    }
  }
  
  &__btn{
    display: inline-block;
    text-decoration: none;
    margin-top: 1.5rem;    
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    background: $secondary-color;
    color: $white-color;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -12px rgba(89,89,89,1);
    border: 2px solid $white-color;
    transition: .5s all;
    @include respond-above(sm){
      font-size: 1.4rem;
      margin-top: 1rem;
    }
    &:hover{
      border-color: $secondary-color;
      background: hsl(244,18%,31%);
    }
  }
}